@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,600&display=swap');

body{
    background-color:rgb(175, 115, 115) ;
    
    font-family: 'Mulish', sans-serif;
    margin:0;
    text-align: center;
}

#heading{
    color:white;
  
    font-size: 4rem;
}

button{
    margin:1rem;
    width:10%;
    height:30px;
  
    border-color: #C5BAAF;
    background-color: #82ABA1;
}

h2{
    font-size: 2rem;
    color:#000000;
}
input{
    margin:0.9rem;
    height:30px;
    width:30%;
}
.output{
    color:#5f35d1;
}

